@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Libertinus+Serif+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Libertinus+Serif+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap");

:root {
  --clr-bg: #ffffff;
  --clr-card-bg: #151219;
  --clr-info-bg: #e4dbff;
  --clr-primary: #9c81ed;
  --clr-accent: #b59aff;
  --clr-text: #ffffff;
  --font-main: "Comfortaa", sans-serif;
  --font-secondary: "Varela Round", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.app-content-card {
  background-color: var(--clr-card-bg);
  width: 100%;
  height: 100%;
  max-height: 80vh;
  border-radius: 0 0 30px 30px;
  padding: 93px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-family: var(--font-main);
  color: var(--clr-text);
  font-size: clamp(32pt, 11vw, 45pt);
  text-align: center;
}

.info-card {
  background-color: #e4dbff;
  border-radius: 25px;
  padding: 12px;
  width: 85vw;
  height: 17vh;
  max-height: 150px;
  max-width: 50rem;
  min-width: 330px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-card {
  background-color: #6e25b8;
  width: 100vw;
  max-width: 126px;
  height: 100%;
  border-radius: 20px;
  margin-left: 0px;
}

.txt-content p {
  color: #151219;
}

.slid-down {
  /* background-color: white; */
  /* max-height: 100vh; */
  padding: 40px 0px;
}

.slid-down_l {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.icon-down {
  background-color: #c4a6fe;
  width: 110px;
  height: 110px;
  border-radius: 18px;
}

@media screen and (max-width: 600px) {
  html,
  body {
    height: 100%;
    background-color: #ffffff;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .info-card {
    max-height: 135px;
    padding: 11px;
  }

  .icon-card {
    max-width: 110px;
    border-radius: 15px;
  }

  .slid-down {
    padding: 30px 0px;
  }

  .slid-down_l {
    gap: 30px;
  }

  .icon-down {
    width: 90px;
    height: 90px;
  }
}
